
        body {
            font-family: 'Inter', sans-serif;
            background-color: #0A0A0A;
            color: #E5E7EB;
        }
        /* Active state for project tabs */
        .tab-button.active {
            border-color: #252526;
            color: #d7d4d4;
            background-color: rgba(99, 102, 241, 0.1);
        }
        .section {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        /* Background for the hero section with a dark overlay for text visibility */
        .hero-bg {
            background-image: url('hero-port.PNG');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            position: relative;
        }
        /* Media Query for Mobile View*/
        @media (max-width: 768px) {
            .hero-bg {
                background-attachment: scroll;
            }
        }
        /* New wrapper for each skill card and its name */
        .skill-item-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        /* Style for individual skill cards */
        .skill-card {
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1 / 1;
            background-color: #1F2937;
            border-radius: 12px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.2s ease-in-out;
            padding: 1rem;
            width: 100%; /* Ensure the card fills the wrapper */
        }
        .skill-card:hover {
            transform: translateY(-5px);
        }
        .skill-icon {
            width: 70%;
            height: 70%;
            object-fit: contain;
        }
        /* New gradient for the contact button */
        .contact-button-gradient {
            background-image: linear-gradient(to right, #6366F1, #8B5CF6);
        }
  